ClienteCalcu/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioCalculadora" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioCalculadora" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoSuma">
    <xs:sequence>
      <xs:element minOccurs="0" name="Operandos" type="xs:int" />
      <xs:element minOccurs="0" name="Resultado" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoSuma" nillable="true" type="tns:ResultadoSuma" />
  <xs:complexType name="ErrorDivision">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Divisor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDivision" nillable="true" type="tns:ErrorDivision" />
</xs:schema>