ClienteCalcu/Service References/ServiceReference1/ServicioCalculadora.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioCalculadora" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49679/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49679/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49679/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:49679/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicioCalculadora" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculadora_Sumar_InputMessage">
    <wsdl:part name="parameters" element="tns:Sumar" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Sumar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Restar_InputMessage">
    <wsdl:part name="parameters" element="tns:Restar" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Restar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_SumaCompleja_InputMessage">
    <wsdl:part name="parameters" element="tns:SumaCompleja" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_SumaCompleja_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumaComplejaResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Dividir_InputMessage">
    <wsdl:part name="parameters" element="tns:Dividir" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Dividir_OutputMessage">
    <wsdl:part name="parameters" element="tns:DividirResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Dividir_ErrorDivisionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioCalculadora" name="detail" element="q1:ErrorDivision" />
  </wsdl:message>
  <wsdl:portType name="ICalculadora">
    <wsdl:operation name="Sumar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/Sumar" message="tns:ICalculadora_Sumar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/SumarResponse" message="tns:ICalculadora_Sumar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/Restar" message="tns:ICalculadora_Restar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/RestarResponse" message="tns:ICalculadora_Restar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumaCompleja">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/SumaCompleja" message="tns:ICalculadora_SumaCompleja_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/SumaComplejaResponse" message="tns:ICalculadora_SumaCompleja_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/Dividir" message="tns:ICalculadora_Dividir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/DividirResponse" message="tns:ICalculadora_Dividir_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICalculadora/DividirErrorDivisionFault" name="ErrorDivisionFault" message="tns:ICalculadora_Dividir_ErrorDivisionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculadora" type="tns:ICalculadora">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sumar">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/Sumar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/Restar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumaCompleja">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/SumaCompleja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/Dividir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDivisionFault">
        <soap:fault use="literal" name="ErrorDivisionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCalculadora">
    <wsdl:port name="BasicHttpBinding_ICalculadora" binding="tns:BasicHttpBinding_ICalculadora">
      <soap:address location="http://localhost:49679/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>